---
---

<!DOCTYPE html>
<html lang="en-us">

<head>
    {% include analytics.html %}

    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>Plainionist</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/panel.css">

    {% seo %}
</head>

<body class="layout-reverse sidebar-overlay">
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
        <div class="masthead">
            <div class="container">
                <img src="{{ site.baseurl }}/images/logo.jfif" class="dynimg" />
                <h3 class="masthead-title">
                    {{ site.tagline }}
                </h3>
            </div>
        </div>
        <div class="container content">
            
            <p>
                <b>Recent YouTube Videos</b>
                <br/>
                <a href="https://linktw.in/O6tFuB">How to enforce dependency rules in .NET?</a>
                <br/>
                <a href="https://linktw.in/2ZQ9yN">How to setup a project in Clean Architecture? | .NET6, ASP.NET 6</a>
            </p>
            
            <p>
                <b>Recent Blog Post</b>
                <br/>
                <a href="http://www.plainionist.net/Thread-Collaboration/">Bulletproof thread collaboration?</a>
                <br/>
                <a href="http://www.plainionist.net/Dependency-Governance-DotNet/">Automating dependency governance in .NET</a>
            </p>

            <p>
                &nbsp;
            </p>

        </div>
    </div>

    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                {% include svg-icons.html %}
            </footer>
        </div>
    </div>

</body>

</html>